<div class="col-1 menu-artists h-100">
    <div class="menu-artists-container">
        <div>
            <a href="/artists">
                <i class="fas fa-users"></i>
            </a>
        </div>
        <div>
            <a href="/artists/stats">
                <i class="fas fa-chart-area"></i>
            </a>
        </div>
        <div>
            <a href="/artists/global">
                <i class="fas fa-globe"></i>
            </a>
        </div>
    </div>
</div>