<div class="top-artists-container container-page">
    <div class="row h-100">
        <div class="col-2 menu-artists h-100">
           <div class="menu-artists-container">
                <div>Artistas más escuchados</div>
                <div>Gráficas</div>
                <div>Global stats artits</div>
            </div> 
        </div>
        <div class="col-10">Content</div>
    </div>
</div>