<div class="stats-container">
    <div class="firt-chart">
        <div id="firtsChart">

        </div>
        <div id="firtsChart">

        </div>
    </div>
    <div class="third-chart">
        <div id="artists-by-popularity">
            

        </div>
    </div>


</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/social.dashboard.api.js"></script>
<script src="/javascripts/data-dashboard/data.stats.artists.js"></script>