<!DOCTYPE html>
<html>

<head>
  <title>Social Dashboard</title>
  <link rel="icon" href="/images/icon-spotify.ico" type="image/x-icon" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/fonts/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->
</head>

<body>
  {{> nav }} 

  {{#needs_left_menu path }}
    <div class="top-artists-container">
      <div class="row h-100">
          {{> left.menu path=../path}}
          <div class="col-1"></div>
          <div class="col-11 container-artists">
            {{{ ../body }}}
          </div>
      </div>
    </div>
  {{else}}
    {{{ ../body }}}
  {{/needs_left_menu}}


  {{!-- SCRIPTS --}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  
  <script src="/javascripts/index.js"></script>
  

  <div style="display: none;">
    <img src="/images/bg/jumbo-1.jpg" alt="">
    <img src="/images/bg/jumbo-2.jpg" alt="">
    <img src="/images/bg/jumbo-3.jpg" alt="">
    <img src="/images/bg/jumbo-4.jpg" alt="">
    <img src="/images/bg/jumbo-5.jpg" alt="">
  </div>
</body>

</html>
