<div class="background-class">
    <div class= "container">
        <div>
            <div>
                <p></p>
            </div>
            <form action="/login/spotify" method="post">
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
        <div>
            <p>Tus estadísticas a un solo click</p>
            <ul>
                <li>Facíl</li>
                <li>Rápido</li>
                <li>Y sencillo</li>
            </ul>
        </div>
    </div>
</div>
