<div class="background-class">
    <div class="container">

        <form action="/login/spotify" method="post">
            <button type="submit">Iniciar sesión</button>

        </form>

        <div class="container-text">
            <h1>Social Dashboard</h1>
            <h1>Tus estadísticas a un solo click</h1>
            <div>
                <h1>Fácil</h1>
                <h1>Rápido</h1>
                <h1>Y sencillo</h1>
            </div>
        </div>
    </div>
</div>