<div class="stats-container">
    <div id="global-data-chart"></div>
    <div id="global-data-chart-artists" class="padding-top-15-chart"></div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/social.dashboard.api.js"></script>
<script src="/javascripts/data-dashboard/data.global.songs.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.menu-artists-container div:nth-child(3)').css("background-color", "#00000096");
        $('.button-songs').css("border-bottom", "3px solid #57B55F");
    });  
</script>