<div class="stats-container">
    <div class="firt-chart">
        <div id="count-artists-by-songs">

        </div>
        <div id="count-albumes-by-songs">

        </div>
    </div>
    <div class="third-chart">
        <div id="songs-by-duration">


        </div>
        <div id="songs-by-popularity">


        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/social.dashboard.api.js"></script>
<script src="/javascripts/data-dashboard/data.stats.songs.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.menu-artists-container div:nth-child(2)').css("background-color", "#00000096");
        $('.button-songs').css("border-bottom", "3px solid #57B55F");
    });  
</script>