.top-artists-container{
    background-image: url('../../images/backgroundSpotify_00010.jpg');
}

.menu-artists{

    background-color: #0000004f;
    .menu-artists-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div{
            
            font-size: 1.5em;
        }
    }
}