.top-artists-container{
    width: 100%;
    position: absolute;
    padding-left: 15px;
    padding-top: 75px;
    padding-right: 15px;

    .col-1{
        padding: 0;
        position: fixed;
    }
}

.menu-artists{  
    background-color:#2c5e92;
    .menu-artists-container{
        background-color: #00000098;
        height: 100%;
        display: flex;
        padding-bottom: 75px;
        flex-direction: column;
        justify-content: space-around;    
        div{         
            border-right: 2px black solid;          
            color:black;
            height: 100%;
            width: 100%;
            font-size: 3em;
            display: flex;
            justify-content: center;
            align-self: center;
            &:nth-child(2){
                border-top: 2px black solid;
                border-bottom: 2px black solid;
            }   
            &:hover{
                background-color: #00000096;
                color: white;
            }
            a{
                color:white;
                cursor: pointer;
                background: transparent;
                border: none;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                text-decoration:none;
                i{
                    align-self: center;
                }
            }
            
            
        }
    }
}

.col-11.container-artists{
    background-image: linear-gradient(to right,#2c5e92 0,#552f6d);
    //background-image: linear-gradient(to right,$greenSpotify,(rgb(143, 49, 10)));
    padding: 15px 20px 20px 20px;
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-artist{ 
    img{
        position: absolute;
        width: 200px;
        height: 200px;   
    }
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
    .card-artist-info{
        background-color: #0000004f;
        width: 100%;
        bottom: 0;
        color: white;
        position: absolute;
        h4{
            display: flex;
            justify-content: center;
        }
        div{
            display: flex;
            justify-content: space-around;
            p{
                margin: 0;
                .icon-artists{
                    padding-right: 5px;
                }
            }
        }
    }
}
// .name-artists{
//  /* Starting position */
//  -moz-transform:translateX(100%);
//  -webkit-transform:translateX(100%);	
//  transform:translateX(100%);
//  /* Apply animation to this element */	
//  -moz-animation: example1 15s linear infinite;
//  -webkit-animation: example1 15s linear infinite;
//  animation: example1 15s linear infinite;
// }

// @-moz-keyframes example1 {
//     0%   { -moz-transform: translateX(100%); }
//     100% { -moz-transform: translateX(-100%); }
//    }
// @-webkit-keyframes example1 {
//     0%   { -webkit-transform: translateX(100%); }
//     100% { -webkit-transform: translateX(-100%); }
//    }
// @keyframes example1 {
//     0%   { 
//     -moz-transform: translateX(100%); /* Firefox bug fix */
//     -webkit-transform: translateX(100%); /* Firefox bug fix */
//     transform: translateX(100%); 		
//     }
//     100% { 
//     -moz-transform: translateX(-100%); /* Firefox bug fix */
//     -webkit-transform: translateX(-100%); /* Firefox bug fix */
//     transform: translateX(-100%); 
//     }
// }