.stats-container{
    width: 100%;
    display: flex;
    flex-direction: column;  
    .firt-chart{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
    .third-chart{
    }
    #artists-by-followers{
        padding-top: 15px;
    }
    #songs-by-popularity{
        padding-top: 15px;
    }
}