.home-container{
    background-image: url('../../images/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom left, #EA2880,#FFC870);
}

