.home-container{
    height: 100%;
    width: 100%;
    background-image: url('../../images/backgroundSpotify_0004.jpg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}