@-webkit-keyframes test{
    0% {
        background-image: url('../../images/backgroundSpotify_00010.jpg');
    }
    20% {
        background-image: url('../../images/backgroundSpotify_0008.jpg');
    }
    40% {             
        background-image: url('../../images/backgroundSpotify_0009.jpg');
        }  
    60% {
        background-image: url('../../images/backgroundSpotify_00013.jpg');
    }
    80% {             
        background-image: url('../../images/backgroundSpotify_00014.jpg');       
    }
    100% {             
        background-image: url('../../images/backgroundSpotify_00010.jpg');       
    }   
}

.background-class{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: test 20s linear infinite alternate;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    .container{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        form {
            padding-right: 50px;
            padding-left: 50px;
            margin-bottom: 50px;
            button{
                cursor: pointer;
                border: none;
                font-size: 21px;
                line-height: 1;
                border-radius: 500px;
                padding: 20px 60px 20px;
                color: white;
                background-color: $greenSpotify;
                font-weight: 700;
                letter-spacing: 1px;    
            }
        } 
        .container-text{           
            padding-left: 50px;;
            h1{
                font-size: 48px;
                font-weight: 1000;
            }
            div{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                h1{
                    padding-right: 48px;
                    font-size: 48px;
                    font-weight: 1000;
                }
            }
        }
    }
}


    