
h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -.04em;
    line-height: 1.15;
    margin-top: 0;
    font-weight: bold;
}
.background-class{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../images/backgroundSpotify_0001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
   