.background-class {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../images/backgroundSpotify_0001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between; }
  .background-class .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .background-class .container form {
      padding-right: 50px;
      padding-left: 50px;
      margin-bottom: 50px; }
      .background-class .container form button {
        cursor: pointer;
        border: none;
        font-size: 21px;
        line-height: 1;
        border-radius: 500px;
        padding: 20px 60px 20px;
        color: white;
        background-color: #57B55F;
        font-weight: 700;
        letter-spacing: 1px; }
    .background-class .container .container-text {
      padding-left: 50px; }
      .background-class .container .container-text h1 {
        font-size: 48px;
        font-weight: 1000; }
      .background-class .container .container-text div {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; }
        .background-class .container .container-text div h1 {
          padding-right: 48px;
          font-size: 48px;
          font-weight: 1000; }

.navbar {
  height: 75px;
  background-color: black; }

.logo-navbar {
  width: 145px;
  margin-left: 100px; }

.user-navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  position: relative; }
  .user-navbar .user-navbar-url {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer; }
    .user-navbar .user-navbar-url img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-self: center; }
    .user-navbar .user-navbar-url h5 {
      color: white;
      margin: 20px;
      align-self: center; }
  .user-navbar:hover .user-navbar-url h5 {
    color: #57B55F !important; }

.infoUser {
  top: 105%;
  position: absolute;
  left: calc(-25% + 30px);
  background-color: white;
  color: black;
  padding: 20px 20px 10px 20px;
  border-radius: 20px 20px 20px 20px;
  display: none;
  z-index: 99; }
  .infoUser:before {
    content: "";
    top: -15px;
    left: 110px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 17px solid white; }
  .infoUser div {
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 0.5px; }
    .infoUser div .nav-link {
      padding: 0; }

.button-navbar {
  cursor: pointer;
  border: none;
  color: white;
  background-color: black;
  outline: none; }
  .button-navbar:hover {
    color: #57B55F; }

.home-container {
  background-image: url("../../images/backgroundSpotify_00010.jpg"); }

.top-artists-container {
  width: 100%;
  position: absolute;
  padding-left: 15px;
  padding-top: 75px;
  padding-right: 15px; }
  .top-artists-container .col-1 {
    padding: 0;
    position: fixed; }

.menu-artists {
  background-color: #8f310a; }
  .menu-artists .menu-artists-container {
    background-color: #0000006b;
    height: 100%;
    display: flex;
    padding-bottom: 75px;
    flex-direction: column;
    justify-content: space-around; }
    .menu-artists .menu-artists-container div {
      cursor: pointer;
      color: black;
      height: 100%;
      width: 100%;
      font-size: 3em;
      display: flex;
      justify-content: center;
      align-self: center; }
      .menu-artists .menu-artists-container div i {
        align-self: center; }
      .menu-artists .menu-artists-container div:hover {
        background-color: #00000096;
        color: white; }

.col-11.container-artists {
  background-color: #8f310a;
  padding: 15px 20px 20px 20px;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card-artist {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative; }
  .card-artist img {
    position: absolute;
    width: 200px;
    height: 200px; }
  .card-artist .card-artist-info {
    background-color: #0000004f;
    width: 100%;
    bottom: 0;
    color: white;
    position: absolute; }
    .card-artist .card-artist-info h4 {
      display: flex;
      justify-content: center; }
    .card-artist .card-artist-info div {
      display: flex;
      justify-content: space-around; }
      .card-artist .card-artist-info div p {
        margin: 0; }

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/circular-font/CircularStd-Medium"), url("../fonts/circular-font/CircularStd-Medium.woff") format("woff"); }

body {
  font-family: 'Circular Std Black' !important; }

.container-page {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  padding-left: 15px;
  padding-top: 75px;
  padding-right: 15px; }

/*# sourceMappingURL=style.css.map */