
@import 'sass/login';


@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/circular-font/CircularStd-Medium'), url('../fonts/circular-font/CircularStd-Medium.woff') format('woff');
}
    
body {
    font-family: 'Circular Std Black';
}

    
  


