$greenSpotify:#57B55F;

$topSongsBlue:#1A5B7B;
$topSongsLightBlue:#63B7B6;


$loginBackLightBlue:'https://dl.dropboxusercontent.com/s/4thkbpfnbq4df8k/backgroundSpotify_00014.jpg';
$loginBackOrange1:'https://dl.dropboxusercontent.com//s/0ujwtr92jubzxv7/backgroundSpotify_00013.jpg';
$loginBackOrange2:'https://dl.dropboxusercontent.com/s/1d2pvn0aly54591/backgroundSpotify_0009.jpg';
$loginBackRed:'https://dl.dropboxusercontent.com/s/rl8y5uhvp3lrvqk/backgroundSpotify_0008.jpg';
$loginBackGreen:'https://dl.dropboxusercontent.com/s/yxqy3yfjuzfxtsp/backgroundSpotify_00010.jpg';
